@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DynamicSunTestTask</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
<div class="center">
    <button onclick="location.href = 'Upload/Index';" class="btn">Upload file</button>
    <button onclick="location.href = 'Data/GetData';" class="btn">Open existing</button>
</div>
</body>
</html>
